body {
	transition: color 1s ease, background-color 1s ease;
}
body.dark {
	background-color: black;
	color: white;
}
body.dark .card {
	background-color: rgba(255, 255, 255, 0.1);
}
body.dark .card-content {
	background-color: #212121 !important;
}
body.dark .btn {
	background-color: #ee6f73;
}
body.dark .dark-toggle {
	background-color: white !important;
	color: black;
}
body.dark .divider {
	opacity: 0.2;
}
body.dark .sidenav {
	background-color: #2d2d31;
}
body.dark .sidenav li a:not(.subheader) {
	color: #89b2f5;
}
body.dark .sidenav li a:not(.subheader):hover {
	background-color: #3b4043;
}
body.dark .sidenav li a.subheader {
	color: #9aa0a6;
}
body.dark .sidenav li a .material-icons {
	color: #9aa0a6;
}
body.dark .modal-content {
	background-color: #212121;
}
body.dark .modal-footer {
	background-color: #212121;
}
body.dark .modal-footer .modal-close {
	color: #89b2f5;
}
body.dark .collection {
	border: 1px solid rgba(255, 255, 255, 0.2);
}
body.dark .collection .collection-item {
	background-color: rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}